.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  height: 100vh;
}

.dashboard h1 {
  padding-bottom: 0.5rem;
  text-align: center;
  color: #dddddd;
  font-weight: 400;
}

.dashboard .info-panel {
  border-radius: 8px;
}

.dashboard .info-panel .income-expense {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  font-weight: 600;
}
