.add-transaction h2 {
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  padding-bottom: 0.5rem;
  color: #dddddd;
}

.form-transaction {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  background-color: #3c4048;
  border-radius: 8px;
}

.form-transaction select {
  border: none;
  border-radius: 8px;
  width: 15rem;
  height: 1.5rem;
}

.form-transaction input {
  margin: 0.5rem 0 0 0;
  border: none;
  border-radius: 8px;
  width: 15rem;
  height: 1.5rem;
}

.form-transaction input::placeholder {
  padding-left: 0.5rem;
  font-size: 0.7rem;
  font-style: italic;
}

.form-transaction button {
  height: 2rem;
  width: 15rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: #ffb200;
  cursor: pointer;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .form-transaction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .form-transaction select {
    width: 10rem;
  }

  .form-transaction input {
    margin: 0;
    width: 10rem;
  }

  .form-transaction button {
    height: 1.5rem;
    margin-top: 0;
    width: 10rem;
  }
}
