.auth-section {
  background-color: #212121;
  height: 100vh;
}

.form-bgc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.form-bgc .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3c4048;
  border-radius: 8px;
  margin: 1.5rem;
  padding: 1rem;
}

.form-bgc .form h2 {
  color: #dddddd;
  font-weight: 200;
}

.form-bgc .form p {
  font-size: 0.8rem;
  padding-bottom: 1rem;
  color: #dddddd;
  text-align: center;
}

.form-bgc .form input {
  margin-top: 1rem;
  border: none;
  border-radius: 8px;
  width: 15rem;
  height: 1.5rem;
}

.form-bgc .form input::placeholder {
  padding-left: 0.5rem;
  font-size: 0.7rem;
  font-style: italic;
}

.form-bgc .form label {
  font-size: 0.9rem;
  padding-left: 0.5rem;
}

.form-bgc .form button {
  height: 2rem;
  width: 15rem;
  margin-top: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #ffb200;
  cursor: pointer;
  font-weight: 400;
}

.form-bgc .form .error {
  align-self: flex-start;
  margin-left: 2rem;
  color: red;
  padding: 0;
  font-size: 0.6rem;
  text-align: left;
}
