.landing-page {
  background-color: #eaeaea;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  position: relative;
}

.circle {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: #ffb200;
  border-radius: 50%;
  top: 50px;
  left: 250px;
  opacity: 50%;
}
.small-circle {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #ffb200;
  border-radius: 50%;
  top: 50px;
  left: 370px;
  opacity: 70%;
}

main h1 {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 2rem;
}

main h2 {
  font-size: 2rem;
}

main p {
  margin: 1rem 0;
}

main .get-started {
  width: 10.5rem;
  height: 2rem;
  border: none;
  border-radius: 8px;
  background-color: #ffb200;
  cursor: pointer;
  margin-top: 2rem;
  font-weight: 600;
}

main .arrow {
  padding-left: 0.5rem;
}
