.auth-section {
  background-color: #eaeaea;
  height: 100vh;
}

.form-bgc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #b2b1b9;
  border-radius: 8px;
  padding: 3rem 4rem;
}

.form input {
  margin: 0.5rem 0;
  border: none;
  border-radius: 8px;
}

.form input::placeholder {
  padding-left: 0.5rem;
  font-size: 0.7rem;
  font-style: italic;
}

.form label {
  font-size: 0.9rem;
  padding-left: 0.5rem;
}

.form button {
  height: 2rem;
  width: 10.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #ffb200;
  cursor: pointer;
  font-weight: 600;
}

.error {
  color: red;
}
