.landing-page {
  background-color: #212121;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  position: relative;
}

/* .circle {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #ffb200;
  border-radius: 50%;
  top: 50px;
  left: 250px;
  opacity: 50%;
}
.small-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #ffb200;
  border-radius: 50%;
  top: 50px;
  left: 370px;
  opacity: 70%;
} */

main h1 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 4px;
  margin: 4rem 0;
  color: #ffb200;
  text-align: center;
}

main h2 {
  font-size: 1.5rem;
  color: #dddddd;
  font-weight: 200;
}

main p {
  margin: 1rem;
  color: #dddddd;
  text-align: center;
  font-size: 0.8rem;
}

main .get-started {
  width: 10.5rem;
  height: 2rem;
  border: none;
  border-radius: 8px;
  background-color: #ffb200;
  cursor: pointer;
  margin-top: 2rem;
}

main .get-started a {
  color: #212121;
}

main .arrow {
  padding-left: 0.5rem;
}
